.service{
    margin: 2rem 0.5rem;
}
.service-title{
    font-size: 40px;
    padding-bottom: 4rem;
    text-align: center;
}
.service-bg-light{
    padding: 1.5rem 2rem;
    height: 10rem;
    color: rgb(4, 4, 52);
    background-color: rgb(228, 228, 238);
    font-size: 18px;
    font-weight: 800;
}
.service-bg-light:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.service-bg-light > i{
    font-size: 50px;
}
.service-bg-white{
    padding: 1.5rem 2rem;
    height: 10rem;
    color: rgb(4, 4, 52);
    font-size: 18px;
    font-weight: 800;
}
.service-bg-white:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.service-bg-white > i{
    font-size: 50px;
}