.service{
    margin: 2rem 0.5rem;
    box-sizing: border-box;
}
.service-title{
    font-size: 30px;
    padding-bottom: 4rem;
    text-align: center;
}
.service-col-light{
    background-color: rgb(228, 228, 238);
}
.service-bg-light{
    padding: 1.5rem 2rem;
    height: 10rem;
    color: rgb(4, 4, 52);    
    font-size: 18px;
    font-weight: 800;
}

.service-col-light:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.service-bg-light > i{
    font-size: 50px;
}
.service-col-white{
    background-color: white;
}
.service-bg-white{
    padding: 1.5rem 2rem;
    height: 10rem;
    color: rgb(4, 4, 52);
    font-size: 18px;
    font-weight: 800;
}
.service-col-white:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.service-bg-white > i{
    font-size: 50px;
}

@media only screen and (max-width: 667px){
    .service-bg-white{
        padding: 1% 1%;
        font-size: 14px;
    }
    .service-bg-light{
        padding: 1%  1%;
        font-size: 14px;
    }
}