.about {
    margin: 2rem 0rem;
    padding: 2em 0em;
}
.about-us-mobile{
    display: none;
}
.whyus{
    margin: 2rem 0rem;
    text-align: center;
    padding: 1rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.whyus > i{
    font-size: 80px;    
}


@media only screen and (max-width: 667px){
    .about-us{
        display: none;
    }
    .about-us-mobile{
        padding: 0.5rem 1.5rem;
        display: block;
    }
}