.main{
    padding: 1rem 0rem;
    background-color: rgb(240, 237, 237);
}
#contact-mobile{
    display: none;
}

.c-left{
    margin: 0rem 0rem;
    background-color: white;
    padding: 3rem 4rem;
    border-radius: 10px;
}
.s-btn{
    width: 150px;
}
.steris{
    font-size: 18px;
    font-weight: 800;
    margin-left: 0.3rem;
}
.c-right{
    margin: 1rem 0rem;
}
.c-aside{
    display: flex;
    margin-top: 2rem;
}
.c-aside i{
    font-size: 17px;
    margin-right: 1rem;
}
.banner{
    width: 100%;
    text-align: center;    
    margin: 2rem 1rem 4rem 1rem;    
}
.banner > span{
    width: 30%;
    color: rgb(200, 200, 225);
    font-size: 30px;
    letter-spacing: 4px;
    padding: 0.5rem 1rem 0.5rem 1rem;    
}


@media only screen and (max-width: 667px){
    #contact-desktop{
        display: none;
    }
    #contact-mobile{
        display: block;
    }
    .banner{
        width: 100%;
        text-align: center;    
        margin: 0.5rem 1rem 1rem 1rem;    
    }
    .c-right > h5{
        margin: 5rem 0rem 0.5rem 0rem;
    }
}