.vert{
    color: rgb(204, 204, 236);
    font-weight: 900;
}
.hero-section{
    width: 100%;
    height: 90vh;
    display: flex;
    background-image: url("../../../public/images/home-banner.jpg");
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
}
.hero-text{
    width: 100%;
    padding: 5% 6%;
    background-color: rgba(20, 20, 52, 0.517);
}
.hero-text > h2{
    width: 60%;
    color: white;
    font-size: 45px;    
    line-height: 3.5rem;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.hero-text > p{
    font-size: 23px;
    font-weight: 400;
    width: 96%;
    color: white;
    font-family: 'Roboto', sans-serif;
}
#p-none{
    display: none;
}
@media only screen and (max-width: 667px){
    .hero-section{
        height: 35vh;
    }
    .hero-text{
        width: 100%;   
        padding: 5% 6%;
    }
    .hero-text > h2{
        font-size: 15px; 
        width: 80%;   
        line-height: 1.5rem;
        text-transform: uppercase;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
    }
    .hero-text > p{
        font-size: 16px;
        font-weight: 400;
        width: 80%;
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    #p-block{
        display: none;
    }
    #p-none{
        display: block;
    }
    .home{
        width: 100%;
        box-sizing: border-box;
    }
}
