.navbar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: rgb(20, 20, 52);
    /* padding: 1em 3em 0.5em 7em; */
    color: white;
}
.logo img{
    width: 3em;
    height: 3em;
    border-radius: 50%;
}
.logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.toggle-button {
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

.navbar-links {
    display: flex;
    justify-content: end;
    gap: 1rem;
    width: 25%;
}

.navbar-links a {
    text-decoration: none;
    color: white;
}


@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 1rem 0rem;
        text-align: center;
        z-index: 1;
        background-color: rgb(20, 20, 52);
    }

    .navbar-links.active {
        display: flex;
    }

    .toggle-button {
        display: block;
    }
}
