*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    padding: 2rem 4rem 0rem;
    background-color: #0d4811;
}
.f-col{
    padding: 1rem 0rem;
}
.f-col img{
    width: 100px;
    margin-bottom: 1rem;
}
.f-col p{
    color: rgb(181, 180, 180);
    font-size: 18px;
}
a{
    color: rgb(181, 180, 180);
}
a:hover{
    color: white;
    font-weight: 500;
    text-decoration: none;
}
span a{
    color: white;
}
.f-col .btn{
    margin: 1rem 0rem;
    width: 100px;
    padding: 0.4rem;
    border-radius: 10px;
}
.foot-aside{
    display: flex;
    margin-top: 0,3rem;
}
.foot-aside i{
    font-size: 17px;
    margin-right: 1rem;
}
.copy{
    text-align: center;
    font-size: 12px;
    padding-bottom: 1rem;
    color: rgb(164, 162, 162);
}
.text-light{
    position: relative;
}
.scroll-to-top-btn{
    position: absolute;
    bottom: 5rem;
    right: 2px;
    font-size: 30px;
}

@media(max-width:667px){
    .footer{
        padding: 1rem;
    }
}